<div class="max-w-3xl px-2 mx-auto">
  <div class="text-4xl font-semibold text-center">Github User Search</div>
  <p class="mt-4 text-center text-gray-700">Look up a user in Github and return their watched repos</p>

  <div class="flex flex-col items-center mt-10 space-y-4">
    <%= link "GraphQL Lookup", to: Routes.graph_ql_user_lookup_path(@conn, :graphql_user_lookup, %{}), class: "p-4 text-xl font-semibold bg-blue-500 border-2 border-blue-600 rounded-lg shadow-md cursor-pointer text-blue-50 w-min whitespace-nowrap hover:bg-blue-400" %>
    <%= link "REST Lookup", to: Routes.rest_user_lookup_path(@conn, :rest_user_lookup, %{}), class: "p-4 text-xl font-semibold bg-blue-500 border-2 border-blue-600 rounded-lg shadow-md cursor-pointer text-blue-50 w-min whitespace-nowrap hover:bg-blue-400" %>
  </div>

</div>